<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-headear></app-headear>

<app-hero></app-hero>
<main id="main">
<app-about></app-about>
<app-section></app-section>
<app-skills></app-skills>
<app-resume></app-resume>
<app-portfilio></app-portfilio>

<app-contacts></app-contacts>
</main>
<router-outlet></router-outlet>
